@charset 'utf-8'
@import 'reset'

/* settings */
@font-face
  font-family 'YuGothic B'
  src local(Yu Gothic Bold)

._font-weight-bold
	font-weight 600
	font-family 'Helvetica Neue', Helvatica, Arial, YuGothic, 'YuGothic B', 'メイリオ', sans-serif

._font-weight-normal
	font-weight normal
	font-family 'Helvetica Neue', Helvatica, Arial, 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, 'メイリオ', Osaka, 'MS PGothic', sans-serif

bg-image(path, x-position = center, y-position = center, size = cover)
	background-image url(path)
	background-repeat no-repeat
	background-position x-position y-position
	background-size size

zoom-icon(size)
	display inline-block
	width size
	height size
	padding size * 0.2px
	line-height size
	text-align center
	border-radius 50%
	background-color rgba(black, 0.5)
	margin-bottom 15px
	& > .fa
		color white
		font-size size * 0.95
		position relative

.clearfix
	clear both
	display block
	visibility hidden
	height 0

// responsive-setting
iphone-5   = "screen and (max-width: 320px)"
smartphone = "screen and (max-width: 414px)"
tablet     = "screen and (max-width: 768px)"
pc         = "screen and (min-width: 769px)"

// color
black = #3A373B
yellow = #F6A623
skin = #FCF5E3
beige = #E8C998
pale-brown = #C8A292
brown = #BD6857

// variables
global-navigation-height = 16px * 1.2 + 12px * 2
global-navigation-z-index = 1000
modal-container-z-index = 2000

/* elements */
body
	@extend ._font-weight-normal;
	position relative
	color black
	overflow-x hidden

h1
	@extend ._font-weight-bold
	font-size 1.8rem
	line-height 1.5

a
	color currentColor
	text-decoration none
	&.hover
		text-decoration underline

.hoverable
	cursor pointer
	&.hover
		opacity 0.85

.hero-image
	display flex
	align-items center
	position relative
	padding 40px 20px 20px 20px
	bg-image('../img/hero_image.png', left)
	@media tablet
		padding 40px 10px 15px 10px

	.hero-image__tweet-button
		position absolute
		top 10px
		right 10px

	.hero-image__thumbnail
		margin-right 20px
		@media smartphone
			margin-right 15px
		.hero-image__thumbnail__body
			position relative
			& > img
				@media smartphone
					width 120px
			.hero-image__thumbnail__body
				zoom-icon(30px)
				position absolute
				top 50%
				left 50%
				margin -18px 0 0 -18px
				& > .fa
					top -1px

	.hero-image__description
		flex 1
		color white

		.hero-image__description__logo
			margin-bottom 10px
			& > img
				width 192px
				@media smartphone
					width 128px

		.hero-image__description__category
			line-height 1.2
			margin-bottom 15px
			@media smartphone
				font-size 0.9rem

		.hero-image__description__title
			line-height 1
			margin-bottom 10px
			font-size 2.0rem
			@media tablet
				font-size 1.8rem
			@media iphone-5
				font-size 1.5rem

		.hero-image__description__price
			@extend ._font-weight-bold
			margin-bottom 20px
			font-size 1.5rem
			@media tablet
				font-size 1.3rem
				margin-bottom 15px

		.hero-image__description__text
			line-height 1.5
			@media smartphone
				font-size 0.9rem

.global-navigation
	background yellow
	box-sizing border-box
	&.sticky
		z-index global-navigation-z-index
		width 100%
		position fixed
		top 0
		left 0
		+ main
			position relative
			top global-navigation-height

	& > ul
		margin 0
		list-style none
		display flex
		.global-navigation__menu-item
			flex 1
			font-size 1.2rem
			padding 12px 0
			@extend ._font-weight-bold
			text-align center
			cursor pointer
			&.chosen
				border-bottom 2px solid black

main
	.story-section
		padding 25px 20px
		background-color skin
		h1
			color yellow
			margin-bottom 15px
			@media tablet
				font-size 1.5rem
				margin-bottom 10px

		p
			line-height 1.7
			& + p
				margin-top 20px
			&.story-section__note
				font-size 0.9rem
				margin-top 12px

	.browse-section
		background-color black
		color white
		h1
			padding 25px 20px 0 20px
		.book-container
			position relative
			bg-image('../img/book_open.png')
			margin 0 auto
			width 600px
			height 600px * (908 / 1614)
			@media tablet
				width 400px
				height 400px * (908 / 1614)
			@media smartphone
				width 95%
				height 95vw * (908 / 1614)
			.book-container__overlay
				position absolute
				color black
				left 50%
				top 50%
				width 200px
				height 130px
				margin-left -1 * (200px / 2 + 15px)
				margin-top  -1 * (130px / 2 + 25px)
				padding 25px 15px
				background rgba(#FFF, 0.5)
				border-radius 10px
				text-align center
				overflow hidden
				@media smartphone
					transform scale(0.8)

				.book-container__overlay__caption
					color black
					font-weight bold
					font-size 0.8rem

				.book-container__overlay__icon
					zoom-icon(70px)
					& > .fa
						top -3px

	.purchase-section
		padding 25px 20px
		background-color beige
		color white
		h1
			margin-bottom 15px

		& > section
			border-radius 10px
			background-color white
			border 2px pale-brown solid
			padding 20px
			line-height 1.7
			color black
			h1
				font-size 1.5rem
				color pale-brown
			p + p
				margin-top 15px

			& + section
				margin-top 15px

			a
				color pale-brown

		.purchase-section__at-event
			.purchase-section__at-event__circle-cut
				display block
				float right
				margin-right 5px
				& > img
					width 200px
					margin-left 10px

				@media smartphone
					float none
					text-align center
					margin 0

			.purchase-section__at-event__menu
				border-top 2px pale-brown solid
				padding-top 20px
				margin-top 20px

		.purchase-section__online
			h1
				& > span
					color black
					font-weight normal
					vertical-align middle
					font-size 0.9rem

			.purchase-section__online__booth
				text-align center;
				line-height 1
			.purchase-section__online__note
				margin-top 10px
				font-size 0.9rem

	footer
		padding 25px 20px
		background-color brown
		color white
		text-align center
		.footer__logo
			margin-bottom 10px
			& > img
				width 180px
				@media tablet
					width 140px

.modal-container
	z-index modal-container-z-index
	position fixed
	background-color rgba(black, 0.5)
	top 0
	left 0
	width 100%
	height 100%
	&.hidden
		visibility hidden

	& > header
		width 100%
		box-sizing border-box
		background-color rgba(black, 0.5)
		position relative
		padding 10px 20px
		display flex
		align-items center
		h1
			flex 1
			color white
			font-size 1rem
			font-weight normal
		.modal-container__close
			width 1rem
			height 1rem
			color white
			cursor pointer
	.pages
		width 100%
		.slick-prev
			right 10px
			z-index modal-container-z-index + 1
			&::before
				color black
		.slick-next
			left 10px
			z-index modal-container-z-index + 1
			&::before
				color black
		.slick-dots
			bottom 20px
		.page
			width auto
			& > img
				margin 0 auto
				width auto
				max-width 100%
				max-height calc(100vh - 20px - 1rem)

